<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuqer.voter.mapper.VerifyCodeMapper">

    <insert id="addVerifyCode" parameterType="com.neuqer.voter.domain.VerifyCode">
        INSERT INTO verify_codes
        (mobile, type, code,expire_at,update_at,num)
        VALUES (${mobile}, ${type},${code},
        ${expireAt},${updateAt},${num})
    </insert>

    <select id="getVerifyCode" resultType="com.neuqer.voter.domain.VerifyCode" parameterType="com.neuqer.voter.domain.VerifyCode">
        SELECT * FROM verify_codes
        WHERE mobile = '${mobile}'
        AND type = '${type}'
    </select>

    <update id="updateVerifyCode" parameterType="com.neuqer.voter.domain.VerifyCode">
        UPDATE votecopy.verify_codes
        SET expire_at= ${expireAt},
            num=${num},
            update_at = ${updateAt},
            code=${code}
        WHERE mobile = '${mobile}'
        AND type = '${type}'
    </update>
    
    <delete id="deleteVerifyCode" parameterType="com.neuqer.voter.domain.VerifyCode">
        DELETE
        FROM verify_codes
        WHERE mobile = ${mobile}
        AND type = ${type}
    </delete>
</mapper>